@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

:root {
    --white-text: #ffffff;
    --black-text: #000000;
    --red-text: #ee4e52;
    --blue-text: #61b4bc;
    --gray-background: #ebebeb;
    --red-background: #dd5a58;
    --yellow-background: #f7cb53;
    --green-background: #8dba8f;
    --blue-background: #63a9b2;
    --white-background: #ffffff;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Baloo 2", cursive;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

h1 {
    width: 50%;
    font-size: 3rem;
}

h2 {
    margin: 0 auto;
    font-size: 2.5rem;
}

h3 {
    margin: 1rem auto 0;
    font-size: 1.3rem;
}

/* Common */
.divider {
    display: table;
    content: " ";
    clear: both;
}

.text-red {
    color: var(--red-text);
}

.text-blue {
    color: var(--blue-text);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: sans-serif, "Segoe UI", "Open Sans", "Helvetica Neue";
}

.section-wrapper {
    display: block;
    width: 100%;
    position: relative;
    min-width: 350px;
}

.section-wrapper:first-of-type,
.section-wrapper:nth-of-type(2) {
    min-height: 975px;
}

.section-wrapper:nth-last-child(2) {
    margin: -250px auto 0;
    min-height: 1300px;
}

.section-wrapper > .section-container {
    margin: 0 auto;
    max-width: 1500px;
}

/* Video */
.goto-page {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: var(--white-text);
    text-decoration: none;
}

.goto-page:hover {
    text-decoration: underline;
}

.video-wrapper {
    position: relative;
    min-width: 350px;
}
/* App Section */
.app-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("./../images/comerciante-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(55% 0%, 100% 0%, 100% 100%, 45% 100%);
}

.app-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 600px;
    background-color: var(--yellow-background);
    clip-path: polygon(0 92%, 100% 60%, 100% 100%, 0% 100%);
}

.logo {
    margin: 100px 0;
    vertical-align: middle;
}

.app-text {
    width: 45%;
}

/* Que Section */
.section-wrapper:nth-of-type(2) {
    background: var(--blue-background);
}

.que-top {
    position: absolute;
    top: -4%;
    left: 0;
    width: 100%;
    height: 125%;
    background-color: var(--red-background);
    clip-path: polygon(0 3%, 100% 0, 100% 9%, 0 30%);
}

.que-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--green-background);
    clip-path: polygon(0 0, 100% 0, 100% 26%, 0 15%);
}

.que-bottom {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 65%;
    background-color: var(--white-text);
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 95%, 100% 60%, 100% 100%, 0% 100%);
}

.que-image-wrapper {
    position: relative;
    top: 0;
}
.que-image {
    position: absolute;
    top: 50px;
    /* background-image: url("../images/familia comprando de casa-1 (1).jpg"); */
    width: 650px;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}

.section-wrapper:nth-of-type(2) article {
    position: absolute;
    top: 240px;
    left: 50%;
    width: 40%;
    color: aliceblue;
}

.section-wrapper:nth-of-type(2) article p {
    font-size: 1.5rem;
}

/* Slide Section */

.owl-prev:hover,
.owl-next:hover {
    background: none !important;
}

.slide {
    position: relative;
    height: 500px;
    margin: 2px;
    padding-top: 100px;
    margin: 40px 5px 10px;
}

.card-text {
    height: 400px;
    text-align: center;
    padding: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 70px;
    position: relative;
}

.card-text article {
    position: absolute;
    top: 250px;
    color: var(--white-text);
}

.slide img {
    width: 100%;
    position: absolute;
    top: 0;
}

.slide p {
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding: 2px;
    margin: 1rem 0 0 0;
    line-height: 1.2;
}

.slide-background {
    position: absolute;
    bottom: 0;
    height: 400px;
    width: 100%;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.slide-1 {
    background-color: var(--blue-background);
    clip-path: polygon(0 50%, 100% 60%, 100% 100%, 0 100%);
}

.slide-2 {
    background-color: var(--green-background);
    clip-path: polygon(0 65%, 100% 40%, 100% 100%, 0 100%);
}

.slide-3 {
    background-color: var(--red-background);
    clip-path: polygon(0 35%, 100% 60%, 100% 100%, 0 100%);
}

.slide-4 {
    background-color: var(--yellow-background);
    clip-path: polygon(0 60%, 100% 45%, 100% 100%, 0 100%);
}

.slide-5 {
    background-color: var(--blue-background);
    clip-path: polygon(0 50%, 100% 60%, 100% 100%, 0 100%);
}

.slide-6 {
    background-color: var(--red-background);
    clip-path: polygon(0 65%, 100% 40%, 100% 100%, 0 100%);
}

.slide-7 {
    background-color: var(--green-background);
    clip-path: polygon(0 35%, 100% 60%, 100% 100%, 0 100%);
}

.slide-8 {
    background-color: var(--yellow-background);
    clip-path: polygon(0 60%, 100% 45%, 100% 100%, 0 100%);
}

/* Slide Button Group */
.slide-button-group {
    text-align: center;
}

.prev-button,
.next-button {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 50px 35px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--red-background);
}

.prev-button::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    border: solid var(--white-text);
    border-width: 0 6px 6px 0;
    padding: 12px;
    background-color: var(--red-background);
    transform: translate(-25%, -50%) rotate(135deg);
}

.next-button::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    border: solid var(--white-text);
    border-width: 0 6px 6px 0;
    padding: 12px;
    background-color: var(--red-background);
    transform: translate(-60%, -50%) rotate(-45deg);
}

.prev-button:hover,
.next-button:hover {
    transition: 0.3s;
    opacity: 0.95;
    transform: scale(1.03);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Nosso Section */

.section-wrapper:nth-of-type(4) .section-container {
    overflow: hidden;
    margin: 4rem auto 8rem;
}

.section-wrapper:nth-of-type(4) article {
    float: left;
    width: 40%;
}

.section-wrapper:nth-of-type(4) img {
    width: 50%;
    float: right;
    border-radius: 70px;
}

.section-wrapper:nth-of-type(4) p {
    font-weight: 600;
    font-size: 1.5rem;
}

.nosso-bottom {
    content: " ";
    clear: both;
    position: absolute;
    left: 0;
    bottom: -400px;
    width: 100%;
    height: 500px;
    z-index: -1;
    background-color: var(--blue-background);
    clip-path: polygon(0 80%, 100% 0%, 100% 100%, 0% 100%);
}

/* Form section */
.form-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: calc(100% + 700px);
    background-position: -700px 150px;
    clip-path: polygon(0 15%, 100% 40%, 100% 100%, 0% 100%);
    background-image: url("./../images/close-up-cart-stall-owner-holds-a-hand-held-fan-to-turn-on-the-stove-on-the-angkringan-cart.jpg");
}

.card {
    width: 45%;
    min-width: 700px;
    border-radius: 70px;
    background-color: var(--white-background);
    position: absolute;
    top: 400px;
    padding: 6rem 3rem;
    text-align: center;
}

.form-control {
    display: block;
    width: 100%;
    margin: 2rem 0;
    height: calc(2em + 1rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-family: "Baloo 2", cursive;
    font-weight: 400;
    line-height: 2;
    background-color: var(--gray-background);
    background-clip: padding-box;
    border: none;
    border-radius: 1rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

textarea.form-control {
    height: auto;
    resize: vertical;
}

.card .btn {
    display: inline-block;
    margin-top: 1.5rem;
    font-weight: 600;
    font-family: "Baloo 2", cursive;
    color: var(--white-text);
    background-color: var(--red-background);
    border: var(--red-background) solid transparent;
    padding: 0.5rem 0.75rem;
    font-size: 2rem;
    line-height: 1.6;
    width: 160px;
    border-radius: 100px;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.card .btn:hover {
    opacity: 0.8;
}

.card .btn:focus {
    outline: 0;
    opacity: 1;
    box-shadow: 0 0 0 0.2rem rgba(255, 107, 38, 0.5);
}

/* Map Section */
.section-container .map-aside {
    width: 40%;
    float: left;
    margin-top: 2rem;
}

#map {
    height: 350px;
    width: 60%;
    float: right;
    margin: 4rem auto;
}

.fa {
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px !important;
    text-align: center;
    font-size: 1.8rem !important;
    vertical-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: var(--red-background);
    color: var(--white-text);
    margin: 0.6rem;
}

.fa:hover {
    opacity: 0.7;
}

/* Footer */
footer {
    text-align: center;
    background-color: var(--red-background);
    padding: 1rem;
    font-size: 2rem;
    margin-top: 1rem;
    min-width: 350px;
    color: var(--white-text);
}

footer p {
    margin: 0;
}

/* Responsive */
@media screen and (max-width: 1600px) {
    /* Common */
    .section-wrapper > .section-container {
        max-width: 1200px;
    }
    /* App Section */
    .section-container .app-right {
        width: 90%;
    }

    /* Que Section */
    .section-wrapper:nth-of-type(2) article {
        top: 160px;
        left: 60%;
        width: 30%;
    }
}

@media screen and (max-width: 1200px) {
    /* Common */
    .section-wrapper > .section-container {
        max-width: 900px;
    }
    /* Que Section */
    .section-wrapper:nth-of-type(2) article {
        width: 80%;
        top: 730px;
        left: 10%;
    }

    .section-wrapper:nth-of-type(2) {
        min-height: 1320px;
    }

    .section-wrapper:nth-of-type(2) article {
        width: 80%;
        top: 730px;
        left: 10%;
    }

    .que-image {
        width: 80%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .que-bottom {
        clip-path: polygon(0 95%, 100% 70%, 100% 100%, 0% 100%);
    }

    /* Slide Section */
    .slide {
        height: 570px;
    }

    .card-text {
        height: 470px;
    }

    .card-text article {
        top: 315px;
    }

    /* Map Section */
    .section-container .map-aside {
        width: 100%;
        text-align: center;
    }

    .fa {
        margin-left: 2rem;
        margin-bottom: 2rem;
    }

    #map {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    /* Common */
    .section-wrapper > .section-container {
        max-width: 700px;
    }

    /* App Section */
    .section-container .app-right {
        display: none;
    }

    .section-container > article:first-child {
        text-align: center;
    }

    .logo {
        margin: 3rem;
    }

    h1.text-red,
    p.text-blue {
        width: 100%;
        margin: 2rem 0;
    }

    .section-wrapper:first-of-type {
        min-height: 770px;
    }

    .que-bottom {
        clip-path: polygon(0 95%, 100% 75%, 100% 100%, 0% 100%);
    }

    /* Que Section */
    .que-image {
        height: 500px;
    }

    .section-wrapper:nth-of-type(2) article {
        top: 590px;
    }

    .section-wrapper:nth-of-type(2) {
        min-height: 1100px;
    }

    /* Nosso Section */
    .section-wrapper:nth-of-type(4) article,
    .section-wrapper:nth-of-type(4) img {
        width: 100%;
        text-align: center;
    }

    .section-wrapper:nth-of-type(4) .section-container {
        margin: 0 auto 6rem;
    }

    /* Card Section */
    .card {
        top: 270px;
    }

    input.form-control {
        border-radius: 10rem;
    }
}

@media screen and (max-width: 768px) {
    /* Common */
    .section-wrapper > .section-container {
        max-width: 550px;
    }

    /* App Section */
    .section-wrapper:first-of-type {
        min-height: 530px;
    }

    .logo {
        width: 250px;
        height: 100px;
        margin: 2rem auto 1rem;
    }

    h1.text-red,
    p.text-blue {
        margin: 1rem 0;
        line-height: 1.3;
    }

    .app-bottom {
        height: 500px;
        clip-path: polygon(0 97%, 100% 80%, 100% 100%, 0% 100%);
    }

    /* Que Section */
    .que-top {
        top: -2%;
        height: 50%;
    }

    .que-right,
    .que-bottom {
        height: 50%;
    }

    .que-image {
        height: 350px;
    }

    .section-wrapper:nth-of-type(2) article {
        top: 410px;
    }

    .section-wrapper:nth-of-type(2) {
        min-height: 950px;
    }

    /* Slide Section */
    .slide {
        height: 670px;
    }

    .card-text {
        height: 569px;
    }

    .card-text article {
        top: 400px;
    }

    /* Card Section */
    .card {
        width: 550px;
        left: 50%;
        transform: translate(-50%, 0);
        top: 250px;
        min-width: 1px;
        padding: 3rem 2rem;
    }

    .card .btn {
        margin-top: 0.5rem;
    }

    .form-background {
        background-position: -400px 150px;
        background-size: calc(100% + 700px);
        clip-path: polygon(0 15%, 100% 25%, 100% 100%, 0% 100%);
    }

    .section-wrapper:nth-last-child(2) {
        min-height: 1100px;
    }
}

@media screen and (max-width: 552px) {
    /* Common */

    /* App Section */
    .logo {
        width: 200px;
        height: 80px;
        margin: 1rem auto 0.5rem;
    }

    h1.text-red {
        font-size: 2rem;
        line-height: 1.1;
    }

    p.text-blue {
        line-height: 1;
        font-size: 1.3rem;
    }

    .section-wrapper:first-of-type {
        min-height: 320px;
    }

    .app-bottom {
        height: 320px;
    }

    /* Que Section */
    .que-image {
        height: 250px;
        top: 20px;
        border-radius: 3rem;
    }

    .section-wrapper:nth-of-type(2) article {
        top: 275px;
        text-align: center;
    }

    .section-wrapper:nth-of-type(2) article p {
        line-height: 1.3;
        font-size: 1.2rem;
    }

    .section-wrapper:nth-of-type(2) {
        min-height: 720px;
    }

    .que-bottom {
        clip-path: polygon(0 95%, 100% 85%, 100% 100%, 0% 100%);
    }

    /* Slide Section */
    h2.text-red {
        font-size: 1.8rem;
    }

    .card-text {
        border-radius: 3rem;
        height: 419px;
    }

    .slide-background {
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }

    .slide {
        margin: 0px 1rem 10px;
        height: 520px;
    }

    .card-text article {
        top: 270px;
    }

    .prev-button,
    .next-button {
        margin: 0px 30px;
    }

    /* Nosso Section */
    .nosso-bottom {
        clip-path: polygon(0 30%, 100% 20%, 100% 100%, 0% 100%);
    }

    .section-wrapper:nth-of-type(4) article {
        margin-top: 2rem;
    }

    .section-wrapper:nth-of-type(4) article h2 {
        font-size: 2.2rem;
    }

    .section-wrapper:nth-of-type(4) article p {
        font-size: 1.2rem;
    }

    .section-wrapper:nth-of-type(4) .section-container {
        padding: 0 1rem;
    }

    .section-wrapper:nth-of-type(4) img {
        border-radius: 3rem;
    }

    /* Card */
    .card {
        width: calc(100% - 40px);
        min-width: 200px;
        border-radius: 3rem;
        padding: 2rem 1.5rem;
        top: 230px;
    }

    form h2 {
        font-size: 2rem;
    }

    #message {
        height: 100px !important;
    }

    .form-control {
        margin: 1rem 0;
        height: calc(1.5em + 1rem + 2px);
        padding: 0.375rem 1.25rem;
    }

    .card .btn {
        font-size: 1.4rem;
        width: 100px;
    }

    .section-wrapper:nth-last-child(2) {
        min-height: 800px;
    }

    .form-background {
        clip-path: polygon(0 20%, 100% 25%, 100% 100%, 0% 100%);
    }

    /* Map Section */
    .map-aside img {
        width: 200px;
        height: 80px;
    }

    .fa {
        margin: 0.5rem;
    }

    #map {
        height: 230px;
        float: left;
        margin: 1rem auto;
    }
}
